#sad {
    height: 21cm;
    width: 29.7cm;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 2%;
    transform: scale(0.85);

}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

tr,
td {
    border: 1px solid black;
}

tr {
    height: 40px;
}

td {
    font-size: 20px;
}
#head1 {
    text-align: center;
    font-weight: bolder;
    font-size: 46px;
}

#table2 {
    border-collapse: collapse;
    border-width: 0;
    border-style: hidden;
}

.inner {
    display: flex;
    margin: 0;
    height: 53px;
    border-bottom: 1px solid black;
}

.one {
    padding-top: 12px;
    padding-left: 5px;
}

.two {
    padding-top: 12px;
    padding-left: 5px;
    border-right: 1px solid black;
    width: 240px;
}

.font1 {
    font-family: Arial, Helvetica, sans-serif;
}

.font2 {
    font-family: "宋体";
}

.carton {
    font-size: 28px;
    font-weight: bold;
    padding-top: 20px;
    border-right: 0;
    text-align: center;
}

.package {
    flex: 1;
    text-align: center;
    padding-top: 15px;
}

.mono {
    font-size: 60px;
    font-weight: bold;
    padding-top: 45px;
    text-align: center;
}

.i2 {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 10px;
    width: 80px;
    font-family: "Times New Roman", Times, serif;
    font-size: 60px;
}

.i2 span {
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
}

#table2 td {
    border: none;
    text-align: center;
}

#table2 tr {
    border: none;
}
#qrcode{
    padding-left: 30px;
    padding-top: 5px;
}