.bar{
    text-align: center;
}
.head{
    margin-top: 40px;
}
.title1{
    font-family:'Simsun';
    font-size: 35px;
    display: flex;
    font-weight: bold;
    align-items: flex-end;
    margin-bottom: 6px;
}
.title2{
    font-family:'Simsun';
    font-size: 35px;
    font-weight: bold;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    margin-left: -30px;
}
#area{
    width: 100%;
    /*margin: 10px auto 0 auto;*/
    /*padding: 20px;*/
}
#qrcode{
    position: absolute;
    right: 13%;
    margin-top: 20px;
}

#packageNo{
    margin-left: -30px;
    margin-top: -30px;
}
.no{
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: center;
}
.first{
    margin-left: -20px;
    margin-right: 40px;
    width: 25px;
}
.second{
    margin-left: 20px;
    margin-right: 50px;
    width: 25px;
}
.content{
    padding: 0 30px;
    margin-top: 30px;
}

/*#show1{*/
/*    border: 1px solid red;*/
/*}*/
/*#show2{*/
/*    border: 1px solid red;*/
/*}*/
