<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>格力盛</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/gls.css">
</head>
<body>
<div class="container">
    <li class="nav-item">
        <a class="nav-link " href="http://192.168.1.215:8888/index">东磁10位</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="http://192.168.1.215:8888/dc20">东磁20位</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href=http://192.168.1.215:8888/dc20">东磁22位无二维码</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="http://192.168.1.215:8888/sd">尚德</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="javascript:void(0);">格力盛</a>
    </li>
    <div class="row">
        <div class="col pb-5">
            <div class="input-group mt-5 input-group-lg">
                <input id="number" type="text" class="form-control" placeholder="扫描条码" style="text-transform: uppercase"
                       aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
                <div class="input-group-append" id="button-addon4">
                    <!--                    <button class="btn btn-outline-secondary" type="button">Button</button>-->
                    <button type="button" id="ivData" class="btn btn-danger">查找</button>
                </div>
            </div>
            <div class="card mt-5">
                <div class="card-header">
                    <h4>包装号: <span class="badge badge-success" id="packageNo1" ></span>
                        <button type="button" class="btn btn-primary" id="print" style="float:right">打印</button>
                    </h4>

                </div>
                <div class="card-body" id="area">
                    <div id="sad">
                        <div id="title" class="font1 ">
                            <span>Package – Serial No.</span>
                        </div>
                        <div id="main">
                            <div id="left">

                            </div>
                            <div id="right">

                            </div>
                        </div>
                        <div id="side">
                            <img class="logo" src="/images/logo.jpg" alt="xx" />
                            <div class="boxno font1 firstbox">Package/Pallet/Box</div>
                            <div class="boxno font1">No:</div>
                            <svg id="packageNo"></svg>
                            <div class="qrzone">
                                <div class="boxno font1">QR-code</div>
                                <div class="boxno font1">all serial numbers</div>
                                <div class="boxno font1">from this package:</div>
                                <div id="qrcode"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="/qrcodejs/qrcode.js"></script>
<!--<script type="text/javascript" src="/print/dist/jQuery.print.min.js"></script>-->
<script type="text/javascript" src="/printThis/printThis.js"></script>
<script type="text/javascript" src="/JsBarcode.code128.min.js"></script>
<!--<script type="text/javascript" src="/JsBarcode.code39.min.js"></script>-->
<script type="text/javascript" src="/loading/dist/jquery.loading.min.js"></script>
<script>
    $(document).ready(function () {
        $("#print").click(function () {
            $("#area").printThis({
                importCSS: false,
                loadCSS: ["http://192.168.1.215:8888/css/bootstrap.min.css", "http://192.168.1.215:8888/css/main.css"],
                // loadCSS: ["http://localhost:8888/css/bootstrap.min.css", "http://localhost:8888/css/gls-print.css"],
            })
        });
        var qrcode = new QRCode(document.getElementById("qrcode"), {
            width:180,
            height:180
        });

        $('#number').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                makeCode();
            }
        });

        function makeCode() {
            if ($("#number").val() != '') {
                $('body').loading({
                    theme: 'dark'
                });
                $.ajax({
                    type: "GET",
                    url: "/get/" + $("#number").val(),
                    cache: false,
                    success: function (data) {
                        if (data.length != 0) {
                            $("#packageNo1").text($("#number").val())
                            $(".title2").text($("#number").val())
                            $("#packageNo").text($("#number").val())
                            var str1 = "";
                            var str2 = "";
                            var array = [];
                            data.forEach((item,index) => {
                                array.push(item.lotNumber)
                                if(index<15){
                                    str1 = str1 + '<div class="no"><span class="itemNo">'+item.itemNo+'</span>'+'<svg class="barcode">'+ item.lotNumber +'</svg></div>';
                                }else{
                                    str2 = str2 + '<div class="no"><span class="itemNo">'+item.itemNo+'</span>'+'<svg class="barcode">'+ item.lotNumber +'</svg></div>';
                                }
                            })
                            $("#left").empty();
                            $("#right").empty();
                            $("#left").append(str1);
                            $("#right").append(str2);
                            console.log($("#packageNo").text());
                            $("#packageNo").JsBarcode($("#packageNo").text(), {
                                height: 40,
                                width: 1.5,
                                font: 'arial',
                                fontSize: 14,
                                margin:4
                            })
                            $(".barcode").each(function () {
                                $(this).JsBarcode($(this).text(), {
                                    height: 26,
                                    width: 1.5,
                                    font: 'arial',
                                    fontSize: 15,
                                    // textMargin:-3,
                                    margin:4
                                })
                            });
                            qrcode.makeCode(array.join(";"));
                        } else {
                            alert("组件号输错了或者还没包装");
                            $("#number").val('');
                        }
                        $('body').loading('stop')
                    }
                    ,
                    error: function (jqXHR) {
                        $('body').loading('stop')
                        alert("出错了刷新页面")
                    }
                });
            } else {
                alert("请输入条码")
            }

        };

        $("#ivData").click(function () {
            makeCode();
        });
    });
</script>
</body>